<%- include('header', title) %>

<body>
  <header>
    <h1><%= greet %></h1>
  </header>
  <div>
    <h3>Welcome to <%= title %></h3>
    <br>
    <p class="h6"><%- content1 %></p>
    <p class="h6"><%- content2 %></p>
  </div>

<%- include('footer') %>
</body>
</html>
